
{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<div class="col-sm-10">
    <h3 class="text-white my-5">About Page</h3>

    <p>An easy-to-use, free blogging application with limited 
       functionality and additional features available for us 
       The most feature-rich and customizable blogging application. 
       fairly feature-rich blogging application, 
       We can see lots of informative posts here.</p>
    <p>Step 1: First head to the site and then click on CREATE your account .
       Step 2: Fill the required columns with the information required. Website URL: Add your blog. 
       with proper heading of your blog, 
       or the name you would like to give to your blog.</p>   
</div>


{% endblock content%}
